{
    "serverName": "Test",
    "fileServer": "http://localhost",
    "mountPoint": "/",
    "port": 3000,
    "uploadedBase": "./uploaded",
    "dbAddress": "mongodb://localhost/test",
    "dbUser": "root",
    "dbPoolSize": 5,
    "pwdIterations": 10000,
    "mailUser": "asdf@asdg.com",
    "mailPass": "asdf",
    "sessionSecret": "asdf",
    "logLevel": "debug"
}